.form__input-text {
  border: 1px solid #999999;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  height: 31px;
  width: 100%;

}
